<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>find_my_phone</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js" defer></script>
</head>


<body>
    <div style="margin-bottom: 2%;" class="title">
        <hr>
        <center><h1>FIND MY PHONE WEB SERVICE</h1></center>
        <hr>
    </div>

    <div class="login"> 
        <u><h1>Please Login:</h1></u>
        <input class="text_input"  type="text" id="userName" placeholder="User Name:"><br>
        <input class="text_input"  type="password" id="password" placeholder="Password:"><br>
        <a style="margin-top: 100px;" onclick="checkValues()" class="myButton">SEND</a>
    </div>
    <h2 id="Error_text"></h2>
</body>

</html>
