<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find My Phone</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="../static/mapDisplay.js" defer></script>
</head>

<body>
    <div style="margin-bottom: 2%;" class="title">
        <hr>
        <center><h1>FIND MY PHONE WEB SERVICE</h1></center>
        <hr>
    </div>

    <div id="map" style="height: 400px;"></div>

    
</body>

</html>
